.title {
    background-color: coral;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
}

.content {
    display: flex;
    gap: 50px;
}