.container {
    flex: 5
}

.title {
    margin: 50px 0px;
    font-size: 30px;
}

.pageContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}



.button {
    width: 100px;
    border: none;
    padding: 16px;
    background-color: rgb(234, 88, 117);
    color: white;
    cursor: pointer;
}

.button:disabled {
    background-color: rgba(220, 20, 60, 0.473);
    cursor: not-allowed;
}